<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册成功</title>
    <script>
        window.onload = function () {
            const countdownElement = document.getElementById('countdown');
            let timeLeft = 3;
            const login = "[[${login}]]";

            const countdownInterval = setInterval(function () {
                countdownElement.textContent = timeLeft;
                timeLeft--;

                if (timeLeft < 0) {
                    clearInterval(countdownInterval);
                    window.location.href = login;
                }
            }, 1000);
        };
    </script>
</head>
<body>
<h1>注册成功！</h1>
<p>你将在 <span id="countdown">3</span> 秒后自动跳转到登录页面。</p>
<p>若未自动跳转，请 <a th:href="${login}">点击这里</a>。</p>
</body>
</html>